<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dusk.www.article.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.dusk.www.article.domain.Article">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="key" jdbcType="VARCHAR" property="key" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="click" jdbcType="INTEGER" property="click" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_user" jdbcType="INTEGER" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="author" jdbcType="VARCHAR" property="author" />
    </resultMap>


    <select id="getArticleById" resultMap="BaseResultMap">
        select a.*,u.name as author from article a LEFT JOIN user u on a.create_user = u.id where a.id = #{id}
    </select>

    <select id="getArticleListByStatusAndPageNum" resultType="com.dusk.www.article.domain.Article">
        select * from article a where  a.status = #{status} limit #{pageNum},#{pageCount}
    </select>




</mapper>