<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dusk.www.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dusk.www.user.domain.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>


    <select id="getById" resultType="com.dusk.www.user.domain.User">
        select * from user where id = #{id}
    </select>

    <select id="getByLoginName" resultType="com.dusk.www.user.domain.User">
        select * from user where status = 1 and login_name = #{loginName}
    </select>

    <select id="getRoleSetByUserId" resultType="com.dusk.www.user.domain.Role">
        select r.* from user_role ur
          left join role r on ur.role_id = r.id
        where r.status = 1 and ur.user_id=#{userId}
    </select>

    <select id="getPermissionSetByUserId" resultType="com.dusk.www.user.domain.Permission">
        select p.* from user u
          left join user_role ur on u.id = ur.user_id
          left join role r on ur.role_id = r.id
          left join role_permission rp on r.id = rp.role_id
          left join permission p on rp.permission_id = p.id
        where r.status = 1 and p.status = 1 and  u.id = #{userId}
    </select>



</mapper>